---
import IndexPage from "src/layouts/IndexPage.astro";
---

<IndexPage>
  <div>Oops,This Page Could Not Be Found!</div>
  <a href="/" class="text-balance underline">Click to return Home</a>
</IndexPage>
